section{
    &:nth-of-type(2){
        .tom{
            &_content{
                @include mq("sm", max){
                    flex-direction: column-reverse;
                }
                &-collum{
                    
                    &:first-of-type{
                        background-color: #fff;
                        .tom{
                            &_development{
                                &-collum{
                                    overflow-y: scroll !important;
                                    height: 100vh;
                                    padding: 0 !important;
                                    @include mq("sm", max){
                                        overflow: visible !important;
                                        height: auto;
                                    }
                                    &::-webkit-scrollbar{
                                        appearance: none;
                                    }
                                }
                                &-box{
                                    width: 100%;
                                    max-width: 100%;
                                    padding-left: .8vw;
                                    padding-top: 4vh;
                                    height: 43vh;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        max-width: 70%;
                                    }
                                    @include mq("md", max){
                                        padding-top: 0vh;
                                        margin-top: 17%;
                                    }
                                    @include mq("sm",max){
                                        flex-wrap: wrap;
                                        width: 80%;
                                        height: auto;
                                        padding-left: 8vw;
                                        padding-top: 17%;
                                        flex-direction: column-reverse;
                                    }
                                    &:first-of-type{
                                        padding-top: 11vh;
                                        @include mq("sm", max){
                                            width: 100%;
                                        }
                                        &::after{
                                            content: "";
                                            display: block;
                                            background: url(../../src/img/effect-top.png) no-repeat center center;
                                            background-size: cover;
                                            width: 100%;
                                            height: 97px;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                        }
                                    }
                                    &-illustration{
                                        width: 92%;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            width: 190%;
                                        }
                                        &-img{
                                            
                                            a{
                                                display: block;
                                                max-width: 211px;
                                                @media (min-width: 1550px) and (min-height: 900px){
                                                    max-width: 100%;
                                                }
                                                @include mq("sm", max){
                                                    width: 90%;
                                                    max-width: 100%;
                                                    margin: 0 auto;
                                                }
                                            }
                                        }
                                        &-name{
                                            @include mq("sm", max){
                                                width: 90%;
                                                margin: 0 auto;
                                            }
                                            p{
                                                font-size: .5rem;
                                                line-height: 3;
                                                @include mq("md", max){
                                                    font-size: .4rem;
                                                    line-height: 2;
                                                }
                                                @include mq("sm", max){
                                                    font-size: .7rem;
                                                    line-height: 1.8;
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                    &-describe{
                                        width: 38%;
                                        padding-top: 7vh;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            padding-top: 3vh;
                                            padding-left: 6%;
                                        }
                                        @include mq("sm", max){
                                            width: 85%;
                                            padding-top: 2%;
                                        }
                                        &-title{
                                            @include mq("sm", max){
                                                width: 90%;
                                                margin: 0 auto;
                                            }
                                            h3{
                                                font-size: 1rem;
                                                font-weight: 700;
                                                @media (min-width: 1550px) and (min-height: 900px){
                                                    font-size: 1.6rem;
                                                }
                                                @include mq("md",max){
                                                    font-size: .8rem;
                                                }
                                                @include mq("sm", max){
                                                    font-size: 1.2rem;
                                                    font-weight: 800;
                                                }
                                            }
                                        }
                                        &-text{
                                            width: 100%;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                width: 88%;
                                            }
                                            @include mq("sm", max){
                                                margin: auto;
                                                width: 90%;
                                            }
                                            p{
                                                font-size: .6rem;
                                                font-weight: 500;
                                                line-height: 1.8;
                                                @media (min-width: 1550px) and (min-height: 900px){
                                                    font-size: 1rem;
                                                }
                                                @include mq("lg", max){
                                                    font-size: .6rem;
                                                }
                                                @include mq("md", max){
                                                    font-size: .5rem;
                                                }
                                                @include mq("sm", max){
                                                    font-size: .6rem;
                                                    margin: 0;
                                                }
                                            }
                                        }
                                    }
                                    &:nth-of-type(2){
                                        height: 35vh;
                                        .tom_development-btox-illusration{
                                            @include mq("md", max){
                                                width: 33%;
                                            }
                                            @include mq("sm", max){
                                                width: auto;
                                            }
                                        }
                                    }
                                    &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6){
                                        &::after{
                                            content: "";
                                            display: block;
                                            background: url(../../src/img/effect-side-up.png) no-repeat center center;
                                            background-size: cover;
                                            width: 295px;
                                            height: 155px;
                                            position: absolute;
                                            left: 0;
                                            transform: translateY(-5px);
                                            z-index: -1;
                                            @include mq("sm", max){
                                                background-size: 100% 100%;
                                                width: 314px;
                                                height: 263px;
                                                transform: translateY(12vh);
                                                z-index: -1;
                                            }
                                        }
                                        .tom_development-box-illustration{
                                            position: relative;    
                                            z-index: 2;
                                            &-img{
                                                @include mq("sm", max){
                                                    width: 100% ;
                                                }
                                                a{
                                                    max-width: 170px;
                                                    @media (min-width: 1550px) and (min-height: 900px){
                                                        max-width: 250px;
                                                    }
                                                    @include mq("sm", max){
                                                        max-width: 100%;
                                                    }
                                                    img{
                                                        border-radius: 2rem 0;
                                                    }
                                                }
                                            }
                                        }
                                        .tom_development-box-describe{
                                            width: 46%;
                                            padding-left: 3vh;
                                            padding-top: 3vh;
                                            @include mq("sm", max){
                                                width: 80%;
                                                padding-left: 0;
                                                padding-top: 35px;
                                            }
                                            &-text{
                                                width: 79%;
                                                @media (min-width: 1550px) and (min-height: 900px){
                                                    width: 88%;
                                                }
                                                @include mq("sm", max){
                                                    margin: auto;
                                                    width: 90%;
                                                }
                                            }
                                        }
                                    }
                                    &:nth-of-type(2){
                                        &::after{
                                            @include mq("sm", max){
                                                transform: translateY(-5vh);
                                            }
                                        }
                                    }
                                    &:nth-of-type(4){
                                        &::after{
                                            @include mq("sm", max){
                                                transform: translateY(-20vh);
                                            }
                                        }
                                    }
                                    &:nth-of-type(3), &:nth-of-type(5){
                                        @include mq("md", max){
                                            margin-top: 2%;
                                        }
                                        @include mq("sm", max){
                                            flex-direction: column-reverse;
                                            height: auto;
                                            padding-top: 0;
                                        }
                                        &::after{
                                            content: "";
                                            display: block;
                                            background: url(../../src/img/effect-right.png) repeat center center;
                                            background-size: cover;
                                            width: 140px;
                                            height: 164px;
                                            position: absolute;
                                            right: 0;
                                            transform: translateY(-7px);
                                            z-index: -1;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                width: 437px;
                                                height: 229px;
                                            }
                                            @include mq("sm", max){
                                                background-size: 100% 100%;
                                                width: 341px;
                                                height: 200px;
                                                transform: translate(0vw, -46vh);
                                                z-index: 0;
                                            }
                                        }
                                        .tom_development-box-illustration{
                                            position: relative;
                                            width: 34%;
                                            z-index: 2;
                                            @include mq("sm", max){
                                                width: 85%;
                                            }
                                            &-img{
                                                @include mq("sm", max){
                                                    width: 100%;
                                                }
                                                a{
                                                    max-width: 170px;
                                                    @media (min-width: 1550px) and (min-height: 900px){
                                                        max-width: 220px;
                                                    }
                                                    @include mq("sm", max){
                                                        max-width: 100%;
                                                    }
                                                    img{
                                                        border-radius: 2rem 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:nth-of-type(3){
                                        &::after{
                                            @include mq("sm", max){
                                                transform: translate(0vw, -4vh);
                                            }
                                        }
                                    }
                                    &:nth-of-type(4){
                                        .tom_development-box{
                                           &-describe{
                                                &-text{
                                                    width: 95%;
                                                    @include mq('sm', max){
                                                        width: 90%;
                                                    }
                                                   
                                                }
                                           }
                                            &-illustration{
                                                width: 35%;
                                                p{
                                                    @include mq("sm", max){
                                                        margin: 0 !important;
                                                    }
                                                } 
                                            }
                                        }
                                    }
                                    &:last-of-type{
                                        padding-top: 0vh;
                                        margin-bottom: 35%;
                                        @include mq("md", max){       
                                            margin-top: 0%;
                                        }
                                        @include mq("sm", max){
                                            width: 75%;
                                            margin: 13% 0 13% auto;
                                            flex-direction: column;
                                        }
                                        .tom_development-box-illustration-name p{
                                            @include mq('sm', max){
                                                line-height: 1.8;
                                            }
                                        }
                                        .tom_development-box-illustration{
                                            padding-top: 0 !important;
                                            width: 29%;
                                            @include mq("sm", max){
                                                width: 100%;
                                            }
                                        }
                                        .tom_development-box-describe{
                                            @include mq("sm", max){
                                                width: 100%;
                                            }
                                        }
                                    }
                                    &.reverse{
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            margin-left: auto;
                                            margin-right: 24%;
                                        }
                                        @include mq("sm", max){
                                            flex-wrap: wrap;
                                            height: auto;
                                            margin-left: auto;
                                            padding-top: 0%;
                                        }
                                        &:nth-of-type(2){
                                            @include mq("sm", max){
                                                flex-direction: inherit;
                                            }
                                            .tom_development-btox-illusration{
                                                @include mq("sm", max){
                                                    width: 100%;
                                                }
                                                &-name{
                                                    line-height: 2;
                                                }
                                            }
                                        }
                                        .tom_development-box-describe{
                                            padding-left: 3vw;
                                            width: 44%;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                width: 70%;
                                                padding-top: 9vh;
                                            }
                                            @include mq("sm", max){
                                                padding-top: 23px;
                                                width: 97%;
                                                padding-left: 0;
                                            }
                                            &-text{
                                                width: 95%;
                                            }
                                        }
                                        .tom_development-box-illustration{
                                            width: 34%;
                                            padding-left: 3%;
                                            padding-top: 5vh;
                                            @include mq("sm", max){                              
                                                width: 90% !important;
                                                padding: 0;
                                            }
                                            &-img{
                                                width: 100%;
                                                @media (min-width: 1550px) and (min-height: 900px){
                                                    width: 100%;
                                                    max-width: 100%;
                                                }
                                                a{
                                                    @include mq("sm", max){
                                                        max-width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:last-of-type{
                        background-color: #1d1d1f;
                        position: relative;
                        z-index: 2;
                        .tom{
                            &_development{
                                &-box{
                                    &:nth-of-type(3){
                                        &::after{
                                            @include mq("sm", max){
                                                transform: translate(0vw, -29vh) !important;
                                            }
                                        }
                                    }
                                }
                                &-collum{
                                    padding-right: 5vw;
                                    overflow: visible;
                                }
                                &-title{
                                    width: 316px;
                                    margin-left: 7%;
                                    margin-top: 19%;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        width: 480px;
                                    }
                                    @include mq("md", max){
                                        width: 255px;
                                        margin-top: 29%;
                                    }
                                    @include mq("sm", max){
                                        width: auto;
                                        padding-left: 11%;
                                    }
                                    h1{
                                        color: #fff;
                                        font-weight: 700;
                                        font-size: 1.5rem;
                                        line-height: 1.4;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            font-size: 2.3rem;
                                        }
                                        @include mq("md", max){
                                            font-size: 1.1rem;
                                        }
                                        @include mq("sm", max){
                                            font-size: 1.6rem;
                                        }
                                        @media (max-width: 370px){
                                            font-size: 1.5rem;
                                        }
                                    }
                                }
                                &-text{
                                    width: 316px;
                                    margin-left: 7%;
                                    margin-top: 2%;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        width: 480px;
                                    }
                                    @include mq("md", max){
                                        width: 255px;
                                    }
                                    @include mq("sm", max){
                                        width: auto;
                                        padding-left: 11%;
                                    }
                                    p{
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            font-size: 1.15rem;
                                        }
                                        @include mq("sm", max){
                                            font-size: .9rem;
                                        }
                                    }
                                }
                                &-info{
                                    width: 70vh;
                                    margin: 2vh 0 13vh;
                                    @include mq("md", max){
                                        width: 80%;
                                    }
                                    @include mq("sm", max){
                                        width: 100%;
                                        padding-left: 18%;
                                    }
                                    p{
                                        color: #b7b7b7;
                                        font-size: 0.8rem;
                                    }
                                }
                                &-img{
                                    width: 70%;
                                    margin-left: 1vw;
                                    @include mq("md", max){
                                        width: 87%;
                                        margin-left: 3vw;
                                    }
                                    @include mq("sm", max){
                                        width: 90vw;
                                        margin-left: 1vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}