section{
    &:nth-of-type(6){
        .tom{
            &_content{
                @include mq("sm", max){
                    flex-direction: column-reverse;
                }
                &-collum{
                    background-color: #1d1d1f;
                    &:last-of-type .tom_development-collum{
                        overflow-y: visible;
                        height: 100vh;
                        @include mq("sm", max){
                            height: auto;
                        }
                    }
                }
                .collum-mob{
                    background: #1d1d1f;
                    @include mq('sm'){
                        display: none;
                    }
                    .tom_development{
                        &-internit{
                            position: relative;
                            width: 16%;
                            display: block;
                            margin-left: auto;
                            padding: 3% 0;
                            right: auto;
                            bottom: 0;
                        }
                    }
                }
                .tom_development{
                    &-collum{
                        position: relative;
                    }
                    &-carousel{
                        @include mq('sm', max){
                            display: none;
                        }
                        .swiper-img{
                            @include mq("sm", max){
                                height: 77vh
                            }
                            a{
                                img{
                                    object-position: right;
                                }
                            }
                        }
                    }
                    &-info{
                        padding-left: 14%;
                        margin: 16vh 0 7vh;
                        @media (min-width: 1550px) and (min-height: 900px){
                            margin: 22vh 0 7vh;
                        }
                        @include mq("lg", max){
                            margin: 14vh 0 8vh;
                        }
                        @include mq("sm", max){
                            padding: 0;
                            width: 90%;
                            margin: 14vh auto 8vh;
                        }
                    }
                    &-title{
                        h2{
                            font-size: clamp(.9rem, 1.2rem, 1.5vw);
                            @media (min-width: 1550px) and (min-height: 900px){
                                font-size: 2.3rem;
                            }
                            @include mq("sm", max){
                                font-size: 1.8rem;
                            }
                            @media (max-width: 370px){
                                font-size: 1.5rem;
                            }
                        }
                    }
                    &-text{
                        margin: 2% 0;
                        p{
                            @media (min-width: 1550px) and (min-height: 900px){
                                font-size: 1.3rem;
                            }
                            @include mq("sm", max){
                                font-size: 1rem;
                            }
                        }
                    }
                    &-box{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        justify-content: flex-end;
                        width: 90%;
                        height: 22vh;
                        @media (min-width: 1900px){
                            padding-top: 20%;
                        }
                        @media (min-width: 1550px) and (min-height: 900px){
                            min-height: auto;
                            height: auto;
                            bottom: 0;
                        }
                        @include mq("md", max){
                            height: 17vh;
                        }
                        @include mq("sm", max){
                            height: 108px;
                        }
                        @media (min-height: 630px) and (max-width: 380px){
                            height: 90px;
                        }
                        &-logo{
                            background: #e4e4e4;
                            padding: 10% 6% 7% 12%;
                            width: 33%;
                            border-radius: 2rem 0 0;
                            @media (min-width: 1550px) and (min-height: 900px){
                                padding: 125px 37px 75px 75px;
                            }
                            @include mq("sm", max){
                                padding: 10% 3% 6% 7%;
                            }
                            &:last-of-type{
                                padding: 9% 11% 7% 3%;
                                border-radius: 0 0;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    padding: 92px 46px 65px 26px;
                                }
                                @include mq("sm", max){
                                    padding: 8% 5% 6% 4%;
                                }
                            }
                        }
                    }
                    &-form{
                        width: 71%;
                        margin: 0 auto;
                        @include mq("sm", max){
                            width: 90%;
                            padding-bottom: 0;
                        }
                        .form-group{
                            margin-bottom: 1.2rem;
                            @media (min-width: 1550px) and (min-height: 900px){
                                margin-bottom: .7rem;
                            }
                            @include mq("sm", max){
                                margin-bottom: 1.1rem;
                            }
                            input[type='text'], input[type='tel'], input[type='email'], select, option{
                                font-size: .6rem !important;
                                width: 100%;
                                height: 45px;
                                background-color: #f3f3f3;
                                padding-left: 4%;
                                border-radius: 1rem 0;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    height: 70px;
                                    font-size: 1.2rem !important;
                                }
                                @include mq("md", max){
                                    height: 35px;
                                }
                                @include mq("sm", max){
                                    height: 45px;
                                    font-size: .8rem !important;
                                }
                            }
                            select{
                                border-radius: 0rem 0rem 1rem 1rem;
                            }
                        }
                       .form-row{
                           position: relative;
                            &:nth-of-type(1), &:nth-of-type(3){
                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    background: url(../../src/img/element-left.png) no-repeat center center;
                                    background-size: contain;
                                    width: 23px;
                                    height: 27px;
                                    left: -1vw;
                                    bottom: -.7vh;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        left: -0.9vw;
                                    }
                                    @include mq("sm", max){
                                        left: -3.4vw;
                                    }
                                }   
                            }
                            .form-terms{
                                a{
                                    cursor: pointer;
                                }
                            }
                            &:nth-of-type(2){
                                &:after{
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    background: url(../../src/img/element-right.png) no-repeat center center;
                                    background-size: contain;
                                    width: 23px;
                                    height: 27px;    
                                    right: -1.1vw;
                                    bottom: -0.5vh;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        right: -0.9vw;
                                    }
                                    @include mq("sm", max){
                                        right: -3.4vw;
                                    }
                                }   
                            }
                            input[type='radio']{
                                margin-right: 2%;
                            }
                            label{
                                color: #fff;
                                font-size: .7rem;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    font-size: 1rem;
                                }
                                @include mq("lg", max){
                                    font-size: .5rem;
                                }
                                @include mq("sm", max){
                                    font-size: .7rem;
                                }
                                a{
                                    display: inline;
                                    @include mq("lg", max){
                                        font-size: .5rem;
                                    }
                                    @include mq("sm", max){
                                        font-size: .7rem;
                                    }
                                }
                            }
                            a{
                                color: #fff;
                                font-size: .7rem;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    font-size: 1rem;
                                }
                            }
                            &:nth-of-type(2){
                                .form-group{
                                    input{
                                        border-radius: 0rem 1rem;
                                    }
                                }
                            }
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                       }
                       .button{
                           button{
                                color: #fff;
                                width: 100%;
                                font-size: 0.8rem;
                                background: #393939;
                                padding: 10px;
                                border-radius: 1rem 0;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    font-size: 1.1rem;
                                    padding: 16px;
                                }
                           }
                       }
                    }
                    &-internit{
                        position: absolute;
                        width: 9%;
                        right: 2%;
                        bottom: 3%;
                        cursor: pointer;
                        @include mq("sm", max){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}