section{
    &:nth-of-type(5){
        .tom{
            &_content{
                &-collum{
                    background-color: #1d1d1f;
                    &:last-of-type .tom_development-collum{
                        overflow-y: visible;
                        height: 100vh;
                        @include mq("sm", max){
                            height: auto;
                        }
                    }
                    &:last-of-type{
                        .tom_development{
                            &-collum{
                                @include mq('sm', max){
                                    padding: 0;
                                }
                            }
                        }
                    }
                    .content{
                        overflow: hidden;
                    }
                }
                .collum-mob{
                    background: #1d1d1f;
                    @include mq('sm'){
                        display: none;
                    }
                }
                .tom_development{
                    &-collum{
                        position: relative;
                        @include mq("md", max){
                            padding-right: 0;
                        }
                    }
                    &-carousel{
                        .swiper-img{
                            @include mq("sm", max){
                                height: 77vh
                            }
                            a{
                                display: block;
                                width: 100%;
                                img{
                                    width: 100%;
                                    height: 103vh;
                                    object-position: right;
                                    @include mq('sm', max){
                                        height: 100vh;
                                        object-position: 48% -50px;
                                    }
                                }
                            }
                        }
                    }
                    &-info{
                        padding-left: 34%;
                        margin: 14vh 0 7vh;
                        @media (min-width: 1550px) and (min-height: 900px){
                            margin: 22vh 0 7vh;
                        }
                        @include mq("lg", max){
                            margin: 9vh 0 8vh;
                        }
                        @include mq("sm", max){
                            padding: 0;
                            width: 90%;
                            margin: 14vh auto 8vh;
                        }
                        &-box{
                            &-logo{
                                width: 11rem;
                                margin-left: auto;
                                @include mq("sm", max){
                                    width: 13rem;
                                    margin: 0 auto;
                                }
                            }
                        }
                        &-title{
                            margin: 4% 0 9%;
                            text-align: end;
                            @include mq("md", max){
                                margin: 4% 0 31%;
                            }
                            @include mq("sm", max){
                                text-align: center;
                                margin: 4% 0 9%;
                            }
                            h2{
                                color: #ffff;
                                font-size: .9rem;
                                line-height: 1.5;
                                @include mq("md", max){
                                    font-size: .5rem;
                                }
                                @include mq("sm", max){
                                    font-size: 1rem;
                                }
                            }
                        }
                        &-list{
                            display: flex;
                            justify-content: end;
                            margin: 3% 0;
                            @include mq("sm", max){
                                width: 75%;
                                flex-direction: row-reverse;
                                justify-content: flex-end;
                                margin: 6% auto;
                            }
                            &-icon{
                                margin-left: 2%;
                                @include mq("sm", max){
                                    margin-right: 2%;
                                }
                                img{
                                    width: 30px;
                                    object-fit: contain;
                                    @include mq("md", max){
                                        width: 25px;
                                    }
                                    @include mq("sm", max){
                                        width: 40px;
                                    }
                                }
                            }
                            &-text{
                                @include mq("sm"){
                                    text-align: end;
                                }
                                span{
                                    color: #868686;
                                    font-size: .6rem;
                                    @include mq("md", max){
                                        font-size: .4rem;
                                        display: inherit;
                                        line-height: 15px;
                                    }
                                    @include mq("sm", max){
                                        font-size: .5rem;
                                    }
                                }
                                h3{
                                    color: #fff;
                                    font-size: .9rem;
                                    line-height: 10px;
                                    margin: 0;
                                    @include mq("md", max){
                                        font-size: .7rem;
                                        line-height: 15px;
                                    }
                                    @include mq("sm", max){
                                        font-size: .8rem;
                                    }
                                }
                            }
                        }
                    }
                    &-title{
                        h2{
                            font-size: clamp(.9rem, 1.2rem, 1.5vw);
                            @media (min-width: 1550px) and (min-height: 900px){
                                font-size: 2.3rem;
                            }
                            @include mq("sm", max){
                                font-size: 1.8rem;
                            }
                            @media (max-width: 370px){
                                font-size: 1.5rem;
                            }
                        }
                    }
                    &-text{
                        margin: 2% 0;
                        p{
                            @media (min-width: 1550px) and (min-height: 900px){
                                font-size: 1.3rem;
                            }
                            @include mq("sm", max){
                                font-size: 1rem;
                            }
                        }
                    }
                    &-box{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        z-index: 1;
                        justify-content: flex-end;
                        width: 90%;
                        height: 22vh;
                        @media (min-width: 1900px){
                            padding-top: 20%;
                        }
                        @media (min-width: 1550px) and (min-height: 900px){
                            min-height: auto;
                            height: auto;
                            bottom: 0;
                        }
                        @include mq("md", max){
                            height: 17vh;
                        }
                        @include mq("sm", max){
                            height: 108px;
                        }
                        @media (min-height: 630px) and (max-width: 380px){
                            height: 90px;
                        }
                        &-logo{
                            background: #e4e4e4;
                            padding: 10% 6% 7% 12%;
                            width: 33%;
                            border-radius: 2rem 0 0;
                            @media (min-width: 1550px) and (min-height: 900px){
                                padding: 125px 37px 75px 75px;
                            }
                            @include mq("sm", max){
                                padding: 10% 3% 6% 7%;
                            }
                            &:last-of-type{
                                padding: 9% 11% 7% 3%;
                                border-radius: 0 0;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    padding: 92px 46px 65px 26px;
                                }
                                @include mq("sm", max){
                                    padding: 8% 5% 6% 4%;
                                }
                            }
                        }
                    }
                    &-internit{
                        position: absolute;
                        width: 9%;
                        right: 2%;
                        bottom: 3%;
                        cursor: pointer;
                        @include mq("sm", max){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}