section{
    .tom{
        &_content{
            &-collum{
                &:first-of-type{
                    background-color: #1d1d1f;
                    position: relative;
                    z-index: 2;
                    .tom{
                        &_development{
                            &-collum{
                                padding-right: 5vw;
                            }
                            &-title{
                                width: 316px;
                                margin-left: auto;
                                margin-top: 19%;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    width: 480px;
                                }
                                @include mq("md", max){
                                    width: 255px;
                                    margin-top: 29%;
                                }
                                @include mq("sm", max){
                                    width: 100%;
                                    padding-left: 11%;
                                }
                                h1{
                                    color: #fff;
                                    font-weight: 700;
                                    font-size: 1.5rem;
                                    line-height: 1.4;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        font-size: 2.3rem;
                                    }
                                    @include mq("md", max){
                                        font-size: 1.1rem;
                                    }
                                    @include mq("sm", max){
                                        font-size: 1.6rem;
                                    }
                                    @media (max-width: 370px){
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                            &-text{
                                width: 316px;
                                margin-left: auto;
                                margin-top: 2%;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    width: 480px;
                                }
                                @include mq("md", max){
                                    width: 255px;
                                }
                                @include mq("sm", max){
                                    width: 100%;
                                    padding-left: 11%;
                                }
                                p{
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        font-size: 1.15rem;
                                    }
                                    @include mq("sm", max){
                                        font-size: .9rem;
                                    }
                                }
                            }
                            &-box{
                                width: 100%;
                                justify-content: flex-end;
                                height: 54vh;
                                margin-top: 11%;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    min-height: 539px;
                                    padding-top: 18%;
                                    height: 61vh;
                                }
                                @include mq("lg", max){
                                    margin-top: 15%;
                                }
                                @include mq("md", max){
                                    margin-top: 22%;
                                }
                                @include mq("sm", max){
                                    height: auto;
                                    margin-top: 17%;
                                }
                                &-one{
                                    position: absolute;
                                    bottom: 0;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        width: 34%;
                                    }
                                    @include mq("sm", max){
                                        position: relative;
                                    }
                                    &-title{
                                        text-align: end;
                                        margin-bottom: 2vh;
                                        cursor: pointer;
                                        h6{
                                            color: #fff;
                                            font-size: 1rem;
                                            line-height: 1.1;
                                            margin: 0;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                font-size: 1rem;
                                                line-height: 2;
                                            }
                                        }
                                        span{
                                            color: #646668;
                                            font-size: .9rem;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                font-size: .9rem;
                                            }
                                        }
                                    }
                                    a{
                                        display: block;
                                        width: 32%;
                                        margin-left: auto;
                                        transition: width .5s ease-in-out;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            width: 90%;
                                        }
                                        @include mq("sm", max){
                                            width: 58%;
                                        }
                                        &:hover{
                                            width: 40%;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                width: 115% !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:last-of-type{
                    background-color: #fff;
                    .tom{
                        &_development{
                            &-collum{
                                overflow-y: scroll;
                                @include mq("sm", max){
                                    padding-bottom: 5%;
                                }
                                &::-webkit-scrollbar{
                                    appearance: none;
                                }
                            }
                            &-box{
                                width: 100%;
                                max-width: 564px;
                                padding-left: .8vw;
                                padding-top: 4vh;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    max-width: 70%;
                                }
                                @include mq("sm",max){
                                    flex-wrap: wrap;
                                    width: 75%;
                                    padding-left: 8vw;
                                    padding-top: 17%;
                                }
                                &:first-of-type{
                                    padding-top: 10vh;
                                    @include mq("sm", max){
                                        width: 100%;
                                    }
                                    &::after{
                                        content: "";
                                        display: block;
                                        background: url(../../src/img/effect-top.png) no-repeat center center;
                                        background-size: cover;
                                        width: 100%;
                                        height: 97px;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                    }
                                }
                                &-illustration{
                                    width: 92%;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        width: 190%;
                                    }
                                    &-img{
                                        
                                        a{
                                            display: block;
                                            max-width: 211px;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                max-width: 100%;
                                            }
                                            @include mq("sm", max){
                                                width: 90%;
                                                max-width: 100%;
                                                margin: 0 auto;
                                            }
                                        }
                                    }
                                    &-name{
                                        @include mq("sm", max){
                                            width: 100%;
                                            margin: 0 auto;
                                        }
                                        p{
                                            font-size: .5rem;
                                            line-height: 3;
                                            @include mq("sm", max){
                                                font-size: .7rem;
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                                &-describe{
                                    padding-left: 2vw;
                                    padding-top: 7vh;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        padding-top: 3vh;
                                        padding-left: 6%;
                                    }
                                    @include mq("sm", max){
                                        padding-top: 1vh;
                                    }
                                    &-title{
                                        @include mq("sm", max){
                                            width: 90%;
                                            margin: 0 auto;
                                        }
                                        h3{
                                            font-size: 1rem;
                                            font-weight: 700;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                font-size: 1.6rem;
                                            }
                                            @include mq("md",max){
                                                font-size: .7rem;
                                            }
                                            @include mq("sm", max){
                                                font-size: 1.2rem;
                                                font-weight: 800;
                                            }
                                        }
                                    }
                                    &-text{
                                        width: 65%;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            width: 88%;
                                        }
                                        @include mq("sm", max){
                                            margin: auto;
                                            width: 90%;
                                        }
                                        p{
                                            font-size: .7rem;
                                            font-weight: 500;
                                            line-height: 1.8;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                font-size: 1rem;
                                            }
                                            @include mq("lg", max){
                                                font-size: .6rem;
                                            }
                                            @include mq("md", max){
                                                font-size: .5rem;
                                            }
                                            @include mq("sm", max){
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
                                &:first-of-type{
                                    .tom_development-box-illustration{
                                        width: 160%;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            width: 190%;
                                        }
                                        img{
                                            border-radius: 2rem 0;
                                        }
                                    }
                                }
                                &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6){
                                    &::after{
                                        content: "";
                                        display: block;
                                        background: url(../../src/img/effect-side-up.png) no-repeat center center;
                                        background-size: cover;
                                        width: 150px;
                                        height: 166px;
                                        position: absolute;
                                        left: 0;
                                        transform: translateY(-28px);
                                        z-index: -1;
                                        @include mq("sm", max){
                                            background-size: 100% 100%;
                                            width: 314px;
                                            height: 263px;
                                            transform: translateY(-48px);
                                            z-index: 0;
                                        }
                                    }
                                    .tom_development-box-illustration{
                                        position: relative;
                                        width: 32%;
                                        z-index: 2;
                                        @include mq("lg", max){
                                            width: 26% !important;
                                        }
                                        @include mq("sm", max){
                                            width: 100% !important;
                                        }
                                        &-img{
                                            @include mq("sm", max){
                                                width: 100% ;
                                            }
                                            a{
                                                max-width: 170px;
                                                @media (min-width: 1550px) and (min-height: 900px){
                                                    max-width: 250px;
                                                }
                                                @include mq("sm", max){
                                                    max-width: 100%;
                                                }
                                                img{
                                                    border-radius: 2rem 0;
                                                }
                                            }
                                        }
                                    }
                                    .tom_development-box-describe{
                                        width: 68%;
                                        padding-left: 3vh;
                                        padding-top: 3vh;
                                        @include mq("sm", max){
                                            width: 100%;
                                            padding-left: 0;
                                            padding-top: 35px;
                                        }
                                        &-text{
                                            width: 79%;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                width: 88%;
                                            }
                                            @include mq("sm", max){
                                                margin: auto;
                                                width: 90%;
                                            }
                                        }
                                    }
                                }
                                &:nth-of-type(5){
                                    .tom_development-box-describe{
                                        width: 56%;
                                        &-text{
                                            width: 88%;
                                        }
                                    }
                                }
                                &:nth-of-type(3), &:nth-of-type(5){
                                    @include mq("sm", max){
                                        flex-direction: column-reverse;
                                    }
                                    &::after{
                                        content: "";
                                        display: block;
                                        background: url(../../src/img/effect-right.png) no-repeat center center;
                                        background-size: cover;
                                        width: 303px;
                                        height: 164px;
                                        position: absolute;
                                        right: 0;
                                        transform: translateY(-7px);
                                        z-index: -1;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            width: 437px;
                                            height: 229px;
                                        }
                                        @include mq("sm", max){
                                            background-size: 100% 100%;
                                            width: 341px;
                                            height: 200px;
                                            transform: translate(0vw, -36vh);
                                            z-index: 0;
                                        }
                                    }
                                    .tom_development-box-illustration{
                                        position: relative;
                                        width: 32%;
                                        z-index: 2;
                                        @include mq("lg", max){
                                            width: 26% !important;
                                        }
                                        @include mq("sm", max){
                                            width: 100% !important;
                                        }
                                        &-img{
                                            @include mq("sm", max){
                                                width: 100%;
                                            }
                                            a{
                                                max-width: 170px;
                                                @media (min-width: 1550px) and (min-height: 900px){
                                                    max-width: 220px;
                                                }
                                                @include mq("sm", max){
                                                    max-width: 100%;
                                                }
                                                img{
                                                    border-radius: 2rem 0;
                                                }
                                            }
                                        }
                                    }
                                    .tom_development-box-describe{
                                        width: 68%;
                                        @include mq("sm", max){
                                            width: 100%;
                                            padding-left: 0;
                                            padding-top: 35px;
                                        }
                                    }
                                }
                                &:nth-of-type(3){
                                    &::after{
                                        @include mq("sm", max){
                                            transform: translate(0vw, -29vh);
                                        }
                                    }
                                }
                                &:nth-of-type(4){
                                    .tom_development-box{
                                       &-describe{
                                            width: 55%;
                                            @include mq("sm", max){
                                                width: 100%;
                                            }
                                            &-text{
                                                width: 95%;
                                                @include mq('sm', max){
                                                    width: 90%;
                                                }
                                               
                                            }
                                       }
                                        &-illustration{
                                            width: 35%;
                                            p{
                                                @include mq("sm", max){
                                                    margin: 0 !important;
                                                }
                                            } 
                                        }
                                    }
                                }
                                &:last-of-type{
                                    padding-top: 0vh;
                                    margin-top: 10%;
                                    margin-bottom: 55%;
                                    .tom_development-box-illustration-name p{
                                        @include mq('sm', max){
                                            line-height: 1.8;
                                        }
                                    }
                                    .tom_development-box-illustration{
                                        padding-top: 0 !important;
                                    }
                                }
                                &.reverse{
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        margin-left: auto;
                                        margin-right: 24%;
                                    }
                                    @include mq("sm", max){
                                        margin-left: auto;
                                    }
                                    .tom_development-box-describe{
                                        padding-left: 3vw;
                                        width: 49%;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            width: 70%;
                                            padding-top: 9vh;
                                        }
                                        @include mq("sm", max){
                                            width: 100%;
                                            padding-top: 35px;
                                            padding-left: 0;
                                        }
                                        &-text{
                                            width: 95%;
                                        }
                                    }
                                    .tom_development-box-illustration{
                                        width: 47%;
                                        padding-left: 3%;
                                        padding-top: 5vh;
                                        @include mq("sm", max){
                                            width: 100% !important;
                                        }
                                        &-img{
                                            width: 100%;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                width: 100%;
                                                max-width: 100%;
                                            }
                                            a{
                                                @include mq("sm", max){
                                                    max-width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}