//animations
@import './animations/animations.scss';


//TOOLS
@import '../../../tools/normalize.css';
@import './tools/mixis.scss';

//SETTINGS
@import './settings/settings.scss';

//BOOTSTRAP
@import './libary/bootstrap/bootstrap.scss';
@import './libary/bootstrap/bootstrap-reboot.scss';
@import './libary/bootstrap/bootstrap-grid.scss';

//SWIPER
@import './libary/swiper/swiper.scss';
@import '../../dist/css/swiper-bundle.min.css';

//INPUTTELL
@import '../../dist/css/intlTelInput.min.css';

//LIGHTBOX
@import '../../dist/css/fslightbox.min.css';

//COOKIE
@import './cookie/cookie.scss';


/**
* LAYOUTS
**/

@import './layout/main/_main.scss';

@import './layout/section/first/first';

@import './layout/section/second/second';

@import './layout/section/third/third';

@import './layout/section/fourth/fourth';

@import './layout/section/fifth/fifth';

@import './layout/section/sixth/sixth';

.box-comercial {
	position: fixed;
	bottom: 0px;
	left: 15px;
	cursor: pointer;
	z-index: 100;
	width: 100%;
	font-size: .6rem;
	color: white;
	background-color: #81123b;
	border-radius: 30px 30px 0 0;
	>div {
		padding: 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		&:not(:last-child) {
			border-right: 1px solid white;
		}
	}
}
@media (min-width:768px) {
	.box-comercial {
		display: none;
	}
}