section{
    &:nth-of-type(4){
        .tom{
            &_content{
                height: 100vh;
                @include mq("sm", max){
                    height: auto;
                    flex-direction: column-reverse;
                }
                &-collum{
                    .content{
                        position: relative;
                        z-index: 2;
                    }
                    &:first-of-type{
                        background: #ffff;
                        .content{
                            max-width: 560px;
                            padding-left: 1vw;
                            margin-top: 22vh;
                            @media (min-width: 1550px) and (min-height: 900px){
                                max-width: 80%;
                                margin-top: 28vh;
                            }
                            @include mq("sm", max){
                                max-width: 100%;
                                margin: 12vh 0;
                            }
                        }
                        .tom_development{
                            &-collum{
                                padding-left: 2vw;
                                padding-right: 0;
                                height: auto;
                                overflow: visible;
                                @include mq("sm", max){
                                    padding-bottom: 0;
                                }
                            }
                            &-carousel{
                                @include mq("sm", max){
                                    width: 90%;
                                    margin: 0 auto;
                                }
                                .swiper-slide{
                                    @include mq("sm", max){
                                        height: 100% !important;
                                    }
                                    &-name{
                                        text-align: end;
                                        font-size: .7rem;
                                        line-height: 2;
                                        span{
                                            font-size: .8rem;
                                            line-height: 3;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                font-size: 1.1rem;
                                            }
                                            @include mq("md", max){
                                                font-size: .8rem;
                                                line-height: 2;
                                            }
                                        }
                                    }
                                    a{
                                        display: block;
                                        border-radius: 2rem 0;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            width: 99%;
                                        }
                                    }
                                }
                            }
                            &-thumbnail{
                                margin-top: 2%;
                                @include mq("sm", max){
                                    display: none;
                                }
                                .swiper-slide{
                                    text-align: center;
                                    cursor: pointer;
                                    img{
                                        width: 140px;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            width: 170px;
                                        }
                                        @include mq("lg", max){
                                            width: 120px;
                                        }
                                        @include mq("md", max){
                                            width: 85px;
                                        }
                                        @include mq("sm", max){
                                            width: 100%;
                                        }
                                    }
                                }
                                .swiper-slide-thumb-active{
                                    img{
                                        border: 1px solid black;
                                        border-radius: 2rem 0;
                                    }
                                }
                                .swiper-thumbnail-planta-button{
                                    
                                    &-prev{
                                        width: 17px;
                                        position: absolute;
                                        left: 1vw;
                                        z-index: 99999999;
                                        transform: translateY(-10vh);
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            transform: translateY(-6vh);
                                            width: 34px;
                                        }
                                        @include mq("md", max){
                                            transform: translateY(-7vh);
                                        }
                                        @include mq("sm", max){
                                            display: none;
                                        }
                                    }
                                    &-next{
                                        width: 17px;
                                        position: absolute;
                                        right: -1vw;
                                        z-index: 99999999;
                                        transform: translateY(-10vh);
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            transform: translateY(-6vh);
                                            width: 34px;
                                        }
                                        @include mq("md", max){
                                            transform: translateY(-7vh);
                                        }
                                        @include mq("sm", max){
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-of-type(2){
                        background-color: #1d1d1f;
                        &:after{
                            content: "";
                            display: block;
                            position: absolute;
                            background: url(../../src/img/background-third.png) no-repeat center center;
                            background-size: cover;
                            width: 100%;
                            height: 41%;
                            left: 0vw;
                            bottom: 0vh;
                            @include mq("sm", max){
                                background: url(../../src/img/background-third-mob.png) no-repeat center center;
                                background-size: 100% 100%;
                                height: 29%;
                                left: 0vw;
                                top: 0vh;
                            }
                        }  
                        .tom_development{
                            &-collum{
                                height: auto;
                            }
                            &-info{
                                @include mq("md", max){
                                    margin: 33vh auto 8vh;
                                }
                                @include mq("sm", max){
                                    margin: 52vh 0 16vh;
                                    padding-left: 12%;
                                }
                                @media (max-width: 380px) and (min-height: 750px){
                                    margin: 36vh 0px 8vh;
                                }
                            }
                            &-title{
                                width: 380px;
                                margin-top: 46%;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    width: 80%;
                                }
                                @include mq("md", max){
                                    width: 251px;
                                }
                                @include mq("sm", max){
                                    margin: 0;
                                    width: 90%;                               
                                }
                                h1{
                                    color: #fff;
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                    line-height: 1.5;
                                    @include mq("md", max){
                                        font-size: 1rem;
                                    }
                                    @include mq("sm", max){
                                        font-size: 1.6rem;
                                    }
                                    @media (max-width: 370px){
                                        font-size: 1.5rem;
                                    }
                                    br{
                                        @include mq("sm", max){
                                            display: none;
                                        }
                                    }
                                }
                            }
                            &-text{
                                width: 380px;
                                margin-top: 3%;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    width: 80%;
                                }
                                @include mq("sm",max){
                                    width: 100%;
                                }
                                p{
                                    font-size: .9rem;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        font-size: 1.3rem;
                                    }
                                    @include mq("md", max){
                                        font-size: .7rem;
                                    }
                                    @include mq("sm", max){
                                        width: 70%;
                                    }
                                    span{
                                        visibility: hidden;
                                        font-size: .1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}