/**
*   REGISTER FONTS
**/

@font-face{
    font-family: 'Fetish';
    font-weight: 100;
    font-style: normal;
    src: url(./../../src/font/Fashion-Fetish-Small-Caps.ttf) format('TrueType');
}
@font-face{
    font-family: 'Fetish';
    font-weight: 300;
    font-style: normal;
    src: url(./../../src/font/Fashion-Fetish-Light.ttf) format('TrueType');
}
@font-face{
    font-family: 'Fetish';
    font-weight: 300;
    font-style: italic;
    src: url(./../../src/font/Fashion-Fetish-Light-Italic.ttf) format('TrueType');
}
@font-face{
    font-family: 'Fetish';
    font-weight: 500;
    font-style: normal;
    src: url(./../../src/font/Fashion-Fetish-Regular.ttf) format('TrueType');
}
@font-face{
    font-family: 'Fetish';
    font-weight: 700;
    font-style: normal;
    src:url(./../../src/font/Fashion-Fetish-Bold.ttf) format('TrueType');
}
@font-face{
    font-family: 'Fetish';
    font-style: italic;
    src: url(./../../src/font/Fashion-Fetish-Italic.ttf) format('TrueType');
}
// @font-face{
//     font-family: 'Fetish';
//     font-style: normal;
//     src: url(./../../src/font/Fashion-Fetish-Outline.ttf) format('TrueType');
// }
@font-face{
    font-family: 'Fetish';
    font-weight: 900;
    font-style: normal;
    src: url(./../../src/font/Fashion-Fetish-Heavy.ttf) format('TrueType');
}

/** 
* FONTS GLOBALS
**/

$size1: 10px;
$size2: 12px;
$size3: 16px;
$size4: 20px;


$font-default: 'Fetish';


//CONFIG

*{
    font-family: $font-default;
}