html {
    scroll-behavior: smooth;
  }
body{
    background-color: #1d1d1f;
    overflow: hidden;
    @include mq("sm", max){
        overflow: auto;
    }
}

.menu_content-contact-text {
        
        /*background: #969696;
        color: #fff; */
        text-align:center;
        letter-spacing: 1px; 
        //padding: 3% 0; 
        border-radius: 1rem 0rem 1rem 0;
        cursor: pointer !important;
        width:115px;
        //height:23px;
        /*margin-right: 20%;*/
        /*@media (min-width: 1550px) and (min-height: 900px){
            font-size: 0.5rem;
            margin: 0;
            width:180px;
        }
        @include mq("lg", max){
            padding: 5% 0; 
            margin-right: 14%;
            font-size: 0.5rem;
        }
        @include mq("md", max){
            font-size: .45rem;
            letter-spacing: 1px;
            padding: 5% 0; 
            margin-right: 0%;
        }
        @include mq("sm", max){
            font-size: .5rem;
     }*/    
}
a{
    text-decoration: none;
    color: $primaryColor;
}

button{
    cursor: pointer;
    &:focus{
        outline-style: none;
    }
    background-color: $themeColor;
    outline-style: none;
}

img{
    width: 100%;
    height: 100%;
}


p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

/*input[type="number"]:-webkit-any(){
    display: none;
}*/

textarea::-webkit-scrollbar{
    display: none;
}

.iti{
    width: 100%;
    &__country{
        font-size: .7rem;
    }
    input{
        padding-left: 52px !important;
    }
}
.loading{
    text-align: center;
    font-weight: 700;
}

.modal-show{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000040;
    top: 0;
}
.internit_modal-show{
    animation: internitModShow 1s;
    animation-fill-mode: forwards;
}

.internit_modal-hidden{
    animation: internitModHidden 1s;
    animation-fill-mode: forwards;
}

.internit_modal-show, .internit_modal-hidden{
    width: 30%;
    margin: 0 auto;
    .internit_modal-head{
        text-align: right;
        background-color: #fff;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid rgba(0,0,0,.2);
        button{
            background-color: #fff;
            border: none;
            padding: 2%;
            font-size: 1.5rem;
            margin-right: 2%;
            font-weight: 700;
            outline-style: none;
            cursor: pointer;
            visibility: hidden;
            &:focus{
                outline-style: none;
            }
        }
    }
    .internit_modal-body{
        background-color: #fff;
        text-align: center;
        padding: 10% 5% 10%;
        border-radius: 0 0 .2rem .2rem;
        p{
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}

.tom{
    &_content{
        &-collum{
            padding-left: 0 !important;
            padding-left: 0 !important;
        }
    }
}

.filter-mb{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 99999;
}

/**
* water mark 
**/

.water_mark{
    position: fixed;
    width: 12%;
    top: 3.5%;
    left: 2.5%;
    z-index: 99;
    @media (min-width: 1550px) and (min-height: 900px){
        width: 9%;
        top: 4.5%;
    }
    @include mq("md", max){
        width: 9%;
    }
    @include mq("sm", max){ 
        width: 20%;
        left: 14.5%;
       position: absolute;
    }
    &-img{
        width: 69%;
        @media (min-width: 1550px) and (min-height: 900px){
            width: 100%;
        }
        @include mq("md", max){
            width: 100%;
        }
        @include mq("sm",max){
            width: 100%;
            margin-left: auto;
            margin-right: 4%;
        }
    }
}

/**
* Menu 
**/

menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 15%;
    z-index: 99999;
    padding: 6.5vh 0 0px;
    margin-top: 0;
    @include mq("sm", max){
        position: fixed;
        z-index: 999999;
    }
    &::before{
        content: "";
        background: #828282;
        position: absolute;
        left: 45%;
        top: 0;
        display: block;
        width: 1px;
        height: 100%;
        z-index: -1;
        border: 2px;
        @include mq("sm", max){
            display: none;
        }
    }
    .menu{
        &_content{
            &-close{
                &-itens{
                    width: 20px;
                    margin-left: auto;
                    margin-right: 23px;
                    span{
                        display: block;
                        background: #ffff;
                        padding: 1px;
                        margin-bottom: 3px;
                        margin-left: auto;
                        transition: transform .4s ease-in-out;
                        cursor: pointer;
                        &:nth-of-type(2){
                            width: 70%;
                        }
                        &:nth-of-type(3){
                            width: 40%;
                            margin-left: auto;
                        }
                    }
                }
            }
            &-contact{
                text-align: center;
                /*&-text{
                    transform: translateX(-15%);
                    @media (min-width: 1550px) and (min-height: 900px){
                        transform: translateX(-5vw);
                    }
                    @media (min-width: 2000px){
                        padding: 5px 27px
                    }
                    @include mq("lg", max){
                        transform: translateX(-30%);
                    }
                    @include mq("md", max){
                        transform: translate(-38%, -29px);
                    }
                    @include mq("sm", max){
                        width: 180px;
                        transform: translate(-86%, -83%);
                    } 
                    span{
                        background: #393939;
                        color: #fff;
                        font-size: .55rem;
                        letter-spacing: 1px;
                        padding: 4% 15%;
                        border-radius: 1rem 0rem 1rem 0;
                        cursor: pointer;
                        margin-right: 20%;
                        @media (min-width: 1550px) and (min-height: 900px){
                            font-size: 1rem;
                            margin: 0;
                        }
                        @include mq("lg", max){
                            padding: 4% 20%;
                            margin-right: 14%;
                        }
                        @include mq("md", max){
                            font-size: .45rem;
                            letter-spacing: 1px;
                            padding: 5% 23%;
                            margin-right: 0%;
                        }
                        @include mq("sm", max){
                            font-size: .5rem;
                        }
                    } 
                } */
            }
            &-navbar{
                margin-top: 75%;
                @include mq("sm", max){
                    display: none;
                }
                nav{
                    ul{
                        list-style: none;
                        padding-left: 5.6vw;
                        @include mq("md", max){
                            padding-left: 4.5vw;
                        }
                        li{
                            margin: 6% 0;
                            position: relative;
                            @media (min-width: 1550px) and (min-height: 900px){
                                margin: 18% 0;
                            }
                            a{
                                color: #fff ;
                                font-size: .5rem;
                                width: 32px;
                                height: 32px;
                                border: 1px solid #fff;
                                border-radius: .5rem 0 .5rem 0;
                                background: #1d1d1f;
                                padding: 3px 12px;
                                cursor: pointer;
                                transition: color .5s ease-in-out ;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    font-size: 1rem;
                                    padding: 2% 10%;
                                }
                                &:hover{
                                    color: auto !important;
                                }
                                p{
                                    display: none;
                                }
                                span{
                                    color: #1d1d1f;
                                }
                            }
                            span{
                                position: absolute;
                                left: 14%;
                                background: #fff;
                                font-size: .5rem;
                                padding: 4% 14%;
                                border-radius: 2rem 2rem 2rem 0rem;
                                transform: translateY(-1000px);
                                opacity: 0;
                                transition: opacity .3s ease-in-out;
                            }
                            &:hover{
                                span{
                                    opacity: 1;
                                    transform: translateY(-16px);
                                }
                            }
                            &:first-of-type{
                                a{
                                    padding: 3px 13px;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        padding: 5px 20px
                                    }
                                    @media (min-width: 2000px){
                                        padding: 5px 27px
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &-download{
                display: none;
            }
        }
    }
}

/**
* OPEN MENU
**/

.is--active{
    background: #1d1d1f;
    width: 50%;
    @include mq("sm", max){
        width: 100%;
    }
    &:before{
        display: none;
    }
    .menu_content{
        &-contact{
            display: none;
        }
        &-close{
            &-itens{
                width: 35px;
                span{
                    padding: 1.5px;
                    cursor: pointer;
                   background:  #fff !important;
                    &:nth-of-type(1){
                        transform: rotate(-45deg);
                    }
                    &:nth-of-type(2){
                        opacity: 0;
                    }
                    &:nth-of-type(3){
                        width: 100%;
                        transform: rotate(45deg) translate(-9px, -7px);
                    }
                }
                
            }
        }
        &-navbar{
            margin: 0;
            @include mq("sm", max){
                display: block;
            }
            ul{
                font-size: 1.1rem;
                color: #555557;
                padding-top: 3%;
                padding-left: 7.6vw;
                li{
                    margin: 3% 0;
                    a{
                        background: transparent !important;
                        color: #393939 !important;
                        border: none !important;
                        font-size: 1.1rem;
                        font-weight: 700;
                        padding: 0px;
                        p{
                            display: inline;
                        }
                        &:first-of-type{
                            padding: 0;
                        }
                    }
                    span{
                        opacity: 1 !important;
                        font-size: 1rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                        position: initial;
                        background: transparent !important;
                        color: #555557 !important;
                        padding: 0;
                        cursor: pointer;
                    }
                    &:hover{
                        color: #fff !important;
                        span, a, a p{
                            color: #fff !important;
                        }
                    }
                    &.active{
                        a{
                            color: #fff !important;
                            span{
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }
        &-download{
            display: block;
            padding-left: 15%;
            padding-top: 12%;
            &-text{
                color: #555557;
                font-size: .8rem;
                margin-bottom: 2%;
            }
            &-books{
                display: flex;
                width: 340px;
                a{
                    background: #393939;
                    color: #fff;
                    width: 95px;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    padding: 6px 6px 9px;
                    font-weight: 600;                
                    border-radius: 1rem 0;
                    &:last-of-type{
                        margin-left: 16px;
                    }
                    img{
                        width: 14px;
                        object-fit: contain;
                    }
                    span{
                        font-size: .7rem;
                    }
                }
            }
        }
    }
    .mouse_scroll{
        display: none;
    }
}



form{
    p{
        color:  #fff;
    }
}

/**
* Effects transition
**/
.js-section-effect {
    position: relative;
}
.transition{
    transition: transform 1s ease-in-out;
}

/**
* Trade Video
**/

.on{
    transform: translateY(0%) !important;
}

/**
* Bootstrap
**/ 


.modal-dialog {
    @media (min-width: 576px){
    max-width: 800px !important;
    }
}


/**
** Mouse effect
**/

.mouse_scroll {
	display: block;
	margin: 0 auto;
    width: 36px;
	height: 100px;
    margin-top: 55px;
    transition: opacity .3s ease-in-out;
    @media (min-width: 2000px){
        width: 52px;
    }
    @include mq("md", max){
        width: 29px;
    }
    @include mq("sm", max){
        display: none;
    }
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 12px;
  height: 12px;
}

.itens_mouse{
    transform: translateX(-3%);
}

.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
    height: 30px;
    width: 17px;
    border-radius: 14px;
    transform: none;
    background-color: #1d1d1f;
    border: 2px solid white;
    top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

iframe{
    width: 100%;
}