section{
    &:nth-of-type(3){
        .tom{
            height: 100vh;
            @include mq("sm", max){
                height: auto;
            }
            &_content{
                &-collum{
                    &:first-of-type{
                        background-color: #1d1d1f;
                        height: 100vh;
                        margin-left: auto;
                        .content{
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                background: url(../../src/img/background-second.png) no-repeat center center;
                                background-size: cover;
                                width: 100%;
                                height: 55%;
                                left: 0;
                                top: 0;
                                z-index: -1;
                                @include mq("sm", max){
                                    background: url(../../src/img/background-third.png) no-repeat center center;
                                    background-size: 100% 100%;
                                    height: 30%;
                                    top: auto;
                                    bottom: 0;
                                    z-index: 0;
                                }
                            }  
                        }
                        .tom_development{
                            &-collum{
                                height: auto;
                                overflow: visible;
                                @include mq("sm", max){
                                    height: 100vh;
                                }
                            }
                            &-info{
                                padding-left: 24.5%;
                                margin: 41vh 0 8vh;
                                @media (min-width: 1550px) and (min-height: 900px){
                                    padding-left: 14.5%;
                                }
                                @include mq("md", max){
                                    padding-left: 7%;
                                    margin: 41vh 0 8vh;
                                }
                                @include mq("sm", max){
                                    width: 90%;
                                    padding-left: 0;
                                    margin: 15vh auto 8vh;
                                }
                            }
                            &-title{
                                margin-left: 0;
                                @include mq("sm",max){
                                    position: relative;
                                    padding-left: 8%;
                                    z-index: 1;
                                }
                                h2{
                                    color: #fff;
                                    font-weight: 700;
                                    font-size: 1.5rem;
                                    line-height: 1.5;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        font-size: 2.5rem;
                                     }
                                    @include mq("lg", max){
                                        font-size: 1.2rem; 
                                    }
                                    @include mq("md",max){
                                        font-size: 1.3rem;
                                    }
                                    @include mq("sm", max){
                                        font-size: 1.8rem;
                                        line-height: 1.9;
                                    }
                                    @media (max-width: 370px){
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                            &-text{
                                margin: 3% 0;
                                @include mq("sm", max){
                                    padding-left: 8%;
                                }
                                @include mq("sm", max){
                                    width: 70%;
                                    margin: 12% 0;
                                }
                                p{
                                    color: #696868;
                                    font-size: .9rem;
                                    font-style: italic;
                                    @media (min-width: 1550px) and (min-height: 900px){
                                        font-size: 1.3rem;
                                     }
                                    @include mq("lg", max){
                                        font-size: .7rem;
                                    }
                                    @include mq("md", max){
                                        font-size: .5rem;
                                    }
                                    @include mq("sm", max){
                                        font-size: .9rem;
                                    }
                                    span{
                                        visibility: hidden;
                                        font-size: .1rem;
                                    }
                                }
                            }
                            &-bloc{
                                width: 77%;
                                @include mq("md", max){
                                    width: 90%;
                                }
                                &-one{
                                    a{
                                        display: block;
                                    }
                                }
                            }
                            &-box{
                                display: flex;
                                width: 77%;
                                margin-top: 2%;
                                @include mq("md", max){
                                    width: 90%;
                                }
                                &-two{
                                    a{
                                        display: block;
                                        width: 97.5%;
                                    
                                    }
                                    &:nth-of-type(2){
                                        a{
                                            margin-left: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-of-type(2){
                        background-color: #fff;
                        height: 100vh;
                        @include mq("sm", max){
                            height: auto;
                        }
                        .content{
                            max-width: 490px;
                            margin-right: auto;
                            margin-top: 17vh;
                            @media (min-width: 1550px) and (min-height: 900px){
                                max-width: 80%;
                            }
                            @include mq("md", max){
                                margin-top: 11vh;
                            }
                            @include mq("sm", max){
                                margin: 5% 2%;
                            }
                        }
                        .tom_development{
                            &-collum{
                                padding-left: 5vw;
                                padding-right: 2vw;
                                height: auto;
                                overflow: visible;
                                @include mq("lg", max){
                                    padding-right: 8vw;
                                }
                                @include mq("md", max){
                                    padding-right: 11vw;
                                    padding-left: 3vw;
                                }
                                @include mq('sm', max){
                                    padding: 0;
                                }
                            }
                            &-carousel{
                                @media (min-width: 1550px) and (min-height: 900px){
                                   margin-bottom: 5%;
                                }
                                .swiper-imovel-button-prev{
                                    position: absolute;
                                    top: 20vh;
                                    left: 2vw;
                                    width: 10%;
                                    z-index: 999;
                                    @include mq('sm', max){
                                        top: 24vh;
                                    }
                                    @media (min-height: 630px) and (max-width: 780px){
                                        top: 15vh;
                                    }
                                    @include mq("sm", max){
                                        z-index: 9999999999;
                                    }
                                }
                                .swiper-imovel-button-next{
                                    position: absolute;
                                    top: 20vh;
                                    right: -2vw;
                                    width: 10%;
                                    z-index: 999;
                                    @media (min-height: 630px) and (max-width: 780px){
                                        top: 15vh;
                                    }
                                    @include mq("sm", max){
                                        z-index: 9999999999;
                                    }
                                }
                                .swiper-slide{
                                    &-name{
                                        text-align: end;
                                        cursor: pointer;
                                        span{
                                            font-size: .8rem;
                                            line-height: 3;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                font-size: 1.1rem;
                                            }
                                        }
                                    }
                                    a{
                                        display: block;
                                        height: 225px;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            height: 297px;
                                        }
                                        @include mq('sm', max){
                                            padding-left: 4%;
                                        }
                                        img{
                                            height: 210px;
                                            object-fit: cover;
                                            border-radius: 3rem 0 3em 0;
                                            @media (min-width: 1550px) and (min-height: 900px){
                                                height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                            &-thumbnail{
                                @include mq("sm", max){
                                    display: none;
                                }
                                .swiper-slide{
                                    cursor: pointer;
                                    img{
                                        height: 85px;
                                        border-radius: 2rem 0 2em 0;
                                        object-fit: cover;
                                        @media (min-width: 1550px) and (min-height: 900px){
                                            height: 120px;
                                        }
                                    }
                                }
                                .swiper-slide-thumb-active{
                                    img{
                                        border: 1px solid black;
                                        border-radius: 2rem 0;
                                    }
                                }
                                .swiper-thumbnail-imovel-button{
                                    @include mq("sm", max){
                                        display: none;
                                    }
                                    
                                    &-prev{
                                        width: 17px;
                                        position: absolute;
                                        left: 3.5vw;
                                        cursor: pointer;
                                        transform: translateY(-8vh);
                                        @include mq("sm", max){
                                            display: none;
                                        }
                                    }
                                    &-next{
                                        width: 17px;
                                        position: absolute;
                                        right: 1.5%;
                                        cursor: pointer;
                                        transform: translateY(-9vh);
                                        @include mq("sm", max){
                                            display: none;
                                        }
                                    }
                                }
                            }
                            &-text{
                                width: 418px;
                                @include mq("lg", max){
                                    width: 375px;
                                }
                                @include mq("md", max){
                                    width: 295px;
                                }
                                @include mq("sm", max){
                                    width: 100%;
                                }
                                p{
                                    font-size: .45rem;
                                    text-align: right;
                                    @include mq("md", max){
                                        font-size: .4rem;
                                    }
                                    br{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}