main{
    .tom{
        &_content{
            @include mq("sm", max){
                flex-direction: column-reverse;
            }
        }
    }
}
.tom{
    height: 100vh;
    @include mq("sm", max){
        height: auto;
    }
    &_content{
        
        &-collum{
          
            &:nth-of-type(2){
                background-color: #1d1d1f;
                .tom_development{
                    &-collum{
                        height: 100vh;
                        @include mq("sm", max){
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    &_development{
        &-carousel{
            .swiper{
                &-img{
                    @include mq("sm", max){
                        height: 88vh;
                    }
                    a {
                        img{
                            height: 100vh;
                            object-fit: cover;
                            transform: translateX(2px);
                            @include mq("sm", max){
                                height: 100%;
                                object-fit: cover;
                                object-position: left;
                                transform: none;
                            }
                        }
                        iframe{
                            width: 86vw;
                            height: 100vh;
                            left: -200px !important;
                            top: 0px;
                            transform: translateX(-252px);
                            @include mq("xxl"){
                                width: 76vw;
                            }
                            @include mq("lg", max){
                                width: 95vw;
                            }
                            @include mq("md", max){
                                width: 125vw;
                                transform: translateX(-321px);
                            }
                            @include mq("sm", max){
                                width: 230vw;
                                transform: translateX(-270px);
                            }
                            .html5-video-player .video-click-tracking, .html5-video-player .video-stream{
                                height: 100vh;
                                left: -200px !important;
                                top: 0px !important;
                            }
                        }
                    }
                    .filter{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &-video{
            position: absolute;
            right: 0%;
            bottom: 0;
            width: 245px;
            height: 140px;
            padding: 8% 7% 5%;
            border-radius: 2rem 0 0;
            z-index: 99;
            background: #fff; 
            cursor: pointer;   
            @media (min-width: 1550px) and (min-height: 900px){
                width: 36%;
                height: 20%;
                padding: 8% 4% 4%;
            }
            @include mq("lg", max){
                width: 204px;
                height: 108px;
                padding: 6% 3% 4%;
            }
            @include mq("md", max){
                width: 174px;
                height: 96px;
                padding: 9% 3% 4%;
            }
            @include mq("sm", max){
                width: 310px;
                height: 170px;
                padding: 14% 3% 4%;
            }
            a{
                display: flex;
                justify-content: space-around;
                text-decoration: none;
                @include mq("sm", max){
                    justify-content: center;
                }
                img{
                    width: 150px;
                    @media (min-width: 1781px){
                        width: 100%;
                    }
                    @media (min-width: 1550px) and (min-height: 900px) and (max-width: 1780px){
                        width: 100px;
                    }
                    @include mq("sm", max){
                        width: 200px;
                    }
                }
                .text{
                    font-size: .57rem;
                    text-align: center;
                    @media (min-width: 1550px) and (min-height: 900px){
                        font-size: 1.1rem;
                    }
                    @include mq("sm", max){
                        font-size: .8rem;
                        margin-left: 5%;
                    }
                    span{
                        color: #000;
                    }
                    h6{
                        color: #000;
                        font-size: 1.4rem;
                        @media (min-width: 1550px) and (min-height: 900px){
                            font-size: 1.7rem;
                        }
                        @include mq("sm", max){
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        &-info{
            padding-left: 7%;
            margin: 24vh 0 8vh;
            @media (min-width: 1550px) and (min-height: 900px){
                padding-left: 3%;
                margin: 18vh 0 8vh;
            }
            @include mq("md", max){
                padding-left: 7%;    
                width: 90%;
                margin: 25vh auto 8vh;
            }
        }
        &-imgs{
            position: absolute;
            bottom: 0;
            @media (min-width: 1550px) and (min-height: 900px){
                width: 79%;
            }
            @include mq("sm", max){
                position: relative;
                transform: translateX(-13px);
            }
            .tom_development-bloc, .tom_development-box{
                @media (min-width: 1550px) and (min-height: 900px){
                    width: 100%;
                }
            }
            .tom_development-box{
                &-two{
                    @media (min-width: 1550px) and (min-height: 900px){
                        width: 50%;
                    }
                }
            }
        }
        &-title{
            h2{
                color: #fff;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.4;
                @media (min-width: 1550px) and (min-height: 900px){
                    font-size: 2.3rem;
                }
                @include mq("lg", max){
                    font-size: 1.2rem; 
                }
                @include mq("md", max){
                    font-size: .9rem;
                }
                @include mq("sm", max){
                    font-size: 1.6rem;
                }
                @media (max-width: 370px){
                    font-size: 1.5rem;
                }
                br{
                    @include mq("sm", max){
                        display: none;
                    }
                }
            }
        }
        &-text{
            margin: 4% 0;
            p{
                color: #696868;
                font-size: .85rem;
                font-style: italic;
                @media (min-width: 1550px) and (min-height: 900px){
                    font-size: 1.15rem;
                }
                @include mq("lg", max){
                    font-size: .7rem;
                }
                @include mq("md", max){
                    font-size: .5rem;
                }
                @include mq("sm", max){
                    font-size: 1.2rem;
                }
                br{
                    @include mq("sm", max){
                        display: none;
                    }
                }
            }
        }
        &-bloc{
            width: 77%;
            @include mq("md", max){
                width: 90%;
            }
            @include mq("sm", max){
                margin-left: 0;
                width: 93%;
            }
            &-one{
                a{
                    display: block;
                }
            }
        }
        &-box{
            display: flex;
            width: 77%;
            margin-top: 2%;
            @include mq("md", max){
                width: 90%;
            }
            @include mq("sm", max){
                margin-left: 0;
                width: 93%;
            }
            &-two{
                a{
                    display: block;
                    width: 97.5%;
                   
                }
                &:nth-of-type(2){
                    a{
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
#modalVideo{
    .modal-dialog {
        @include mq("sm", max){
            transform: translate(0, 15%);
        }
    } 
    
    iframe{
        @include mq("sm", max){
            height: 240px;
        }
    }
}